* {
  box-sizing: border-box;
  font-family: Helvetica;
  letter-spacing: 1px;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
}

nav {
  background-color: #7ed5eb;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}


nav>a {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

nav>h1 {
  color: white;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  overflow-y: scroll;
}

body h2 {
  text-align: center;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.userAv {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.userName {
  font-size: 20px;
}

#profile {
  min-width: 900px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo {
  min-width: 200px;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info a {
  display: inline-block;
  margin-bottom: 4px;
}

.info>table {
  width: 100%;
}


#reviews {
  min-width: 900px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#add-review-form {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #7ed5eb;
  border-radius: 4px;
}


.review-body {
  width: 100%;
  min-height: 60px;
  border: 2px solid rgb(66, 71, 72);
  border-radius: 4px;
  resize: none;

}

.rating {
  display: inline;
  width: 40px;
  height: 40px;
  border: 2px solid #7ed5eb;
  border-radius: 4px;
}

button,
input[type="submit"] {
  display: inline;
  margin-top: 5px;
  min-width: 190px;
  max-width: 300px;
  height: 35px;
  border: 2px solid #7ed5eb;
  border-radius: 4px;
  font-size: 15px;
  background-color: #d5ebf1;
  color: rgb(97, 97, 97);
  box-shadow: 3px 3px 2px 1px rgba(66, 71, 72, .2);
}

button:hover,
input[type="submit"]:hover {
  font-weight: bold;

}

button > a {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reviews-list {
  display: flex;
  flex-direction: column;
}

.review {
  width: 800px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.rate {
  min-width: 260px;
}

.picture {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture>img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.picture>a:nth-child(3) {
  margin-bottom: 10px;
  color: #7ed5eb;
}

.grade {

  text-align: center;
  width: 30px;
  height: 30px;
  border: 2px solid #7ed5eb;
  border-radius: 4px;
  background-color: #7ed5eb;
  font-size: 20px;
  color: white;

}

.delivery-review {
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #7ed5eb;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#new-offer {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-offer label {
  margin-top: 5px;
  margin-bottom: 5px;
}

#new-offer input {
  font-size: 20px;
}

#new-offer select {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-info {
  min-height: 60px;
  margin-bottom: 10px;
}

.offer-list {
  width: 800px;
}

.offer-list>thead {
  background-color: #7ed5eb;
  color: white;

}

th {
  color: white;
  font-weight: 500;
}

.offer-list>tbody>tr>td {
  text-align: center;
}

.single-offer {
  background-color: #d5ebf1;
  height: 30px;
}


.service-description {
  width: 800px;
  text-align: justify;
  font-size: larger;
  letter-spacing: 1px;
}

h2 {
  font-weight: 400;
  margin: 20px
}

h2>span {
  font-weight: bold
}

.offer-details {
  min-width: 800px;
  border-radius: 4px;

}


.offer-detailstr tbody {
  padding: 5px;
  background-color: #d5ebf1;
  border-collapse: collapse;
  border: 1px solid white;

}

.header-col {
  width: 400px;
}

.offer-det-pic {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.offer-det-pic>img {
  border-radius: 50%;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.offer-link {
  display: block
}

.header-cell {
  width: 150px
}



.edit>a,
.delete>a {
  text-decoration: none;
}



#delete-review {
  margin-top: 20px;
  min-width: 40px;
  min-height: 40px;

}

.hide {
  display: none;
  font-size: xx-small;
}

#delete-review:hover+.hide {
  display: block;
  color: red;
}

.hidden {
  display: none;
}

h3 {
  text-align: center;
}

.delete-btn {
  width: 40px
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-user-info {
  width: 600px;
}

.line-info {
  background-color: #d5ebf1;
  border: 1px solid white;

  font-size: 16px;
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



.line-info > label {
  display: inline-block;
  height: 100%;
  border-right: 2px solid white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
}

.line-info>span,.line-info>input{
  display: inline-block;
  height: 100%;
  width: 300px;
  padding-left: 2px;
}

.fix-errors {
  width: 500px;

}